/* You can add global styles to this file, and also import other style files */
@import './customize-bootstrap.scss';


@import '../node_modules/bootstrap/scss/bootstrap.scss';
body{
    background-image: url(./assets/cumulus-cloud.jpg);
}
@media only screen and (max-width: 700px) {
    html , body{
        font-size:80%;
        .favorites-button{
            width:140px !important;
        }
        .favorite-container{
            height: 120px !important;
            width: 120px !important;
              

        }
    }
}