#add {
  
    background-image: url('../../assets/icons/search-24px.svg');
    background-repeat: no-repeat;
    background-position: left center;
  }
  .autocomplete{
      z-index: 99;
      position: absolute;
  }
  .weatherContainer{
      margin-top: 80px;
  }
  .favorites-button{
      width:240px;
  }
  .blur{
      background-color: transparentize($color:gray, $amount:0.5);
  }