.favorite-container{
    height: 200px;
    width: 200px;
    background-color: transparentize($color:gray, $amount:0.5);
    text-align: center;
    display: flex;
    display: flex;
     justify-content: center;
     align-items: center; 
     flex-flow: column wrap;

}

