<div class="d-flex wrap" [ngClass]="{'blur':weatherStyle==='favorites'}" (click)="onfavorite()">
    <div class=""> 
           <img *ngIf="weatherStyle==='home'" src={{iconSrc}} alt=""   >
    </div>

    <div [ngClass]="{'border border-primary p-2 p-sm-3':weatherStyle==='favorites'}">
        <div class="p-sm-1"><b>{{location.name}}</b></div>
        <div class="p-sm-1">{{temperature}}
            <span *ngIf="unit=='C'">&#8451;</span>
        </div>
        <div *ngIf="weatherStyle==='favorites'" class="mt-2 mb-1 p-sm-1">{{WeatherText}}</div>
    </div>
</div>